/* STILI PER texts.html */

p {
  font-family: Arial;
}

.video-title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
  line-height: 22px;
}

.video-author {
  font-size: 20px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
}

.video-stats {
  display: inline-block;
  background-color: rgb(175, 175, 175);
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
}

.video-description {
  font-size: 14px;
  color: gray;
  text-align: left;
  margin-bottom: 80px;
  line-height: 18px;
}

.bottom-text {
  display: inline-block;
  font-size: 15px;
  background-color: rgb(218, 13, 54);
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

.youtube-premium-link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.youtube-premium-link:hover {
  text-decoration: underline;
}
